<% if false %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="baidu-tc-cerfication" content="b74fb8b8a7e0d354da5b140d10e27113" />

    <title>蕉点享乐科技</title>
    <%#= stylesheet_link_tag "web", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "web", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "web", "data-turbolinks-track" => true %>
    <%= csrf_meta_tag %>
  </head>

  <body>

  <%= render('share/web_top_nav') %>

    <div class="row" style="background-image:url(/init_data/images/session/bg_01.png); padding: 50px 0px;">
      <div class="col-lg-4 col-lg-offset-4">



        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">登录101FUN</h3>
          </div>
          <div class="panel-body">
                <%= notice_message %>
                <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


                  <div class="form-group">
                    <label for="inputEmail1" class="col-sm-3 control-label">* 平台帐号</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="inputEmail1" placeholder="平台帐号" name="user[login]">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail2" class="col-sm-3 control-label">* 密码</label>
                    <div class="col-sm-7">
                      <input type="password" class="form-control" id="inputEmail2" placeholder="密码" name="user[password]">
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="submit" value="登录" class="btn btn-danger" style="width:70%; margin-left:10%;" />
                  </div>

                  <hr/>
                  <div class="form-group">
                    <span style="margin-left: 50%;">还没有通行证？<%= link_to '立即注册', new_user_registration_path, :class => 'btn btn-info'%></span>
                  </div>

                <% end %> 
          </div>
        </div>



      </div>

    </div>
    <% content_for :scripts do %>
    <script type="text/javascript">
      $(function(){
        $("#new_user").validate({
          rules: {
            'user[login]': {
              required: true,
              minlength: 2
            },
            'user[password]': {
              required: true,
              minlength: 6
            }
          },
          messages: {
            'user[login]': {
              required: "请输入用户名",
              minlength: "用户名不能小于2个字符"
            },
            'user[password]': {
              required: "请输入密码",
              minlength: "密码不能小于6个字符"
            }
          }
        });
      });
    </script>
    <% end %>



  <div class="container col-lg-8 col-lg-offset-2">
    <hr>
    <footer style="text-align: center;">
      <div class="row">
        关于我们 &nbsp;&nbsp;法律声明&nbsp;&nbsp; 友情链接
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>蕉点享乐信息技术（成都）有限公司</p>
          <p>蜀ICP备14006662号</p>
        </div>
      </div>
    </footer>
  </div><!-- /.container -->
  </body>
</html>
<% end %>




<!DOCTYPE html>
<!-- saved from url=(0037)http://www.101fun.com/account/sign_in -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="baidu-tc-cerfication" content="b74fb8b8a7e0d354da5b140d10e27113">

    <title>蕉点享乐科技</title>
    
    <%= stylesheet_link_tag "web", "data-turbolinks-track" => true %>
    <link href="/assets/site.css" media="screen" rel="stylesheet" />
    <%= javascript_include_tag "web", "data-turbolinks-track" => true %>
    <%= csrf_meta_tag %>


<style type="text/css">
  
/*****login****/
.login-bg{
  background-image: url(/assets/sessions/denglu_beijing.jpg);
  width: 1600px;
  height: 900px;
  margin-left: 0px;
}

.login-frame{
  background-image: url(/assets/sessions/denglukuang.png);
  width: 411px;
  height: 440px;
}

.title-image{
  line-height: 62px;
  text-align: center;
}

.login-btn{
  width: 358px;
  height: 42px;
  background-image: url(/assets/sessions/denglu.png);
  border: none;
  border-radius: 0px;
}

.login-btn:hover{
  background-image: url(/assets/sessions/denglu_1.png);
}

.go-reg{
  width: 125px;
  height: 42px;
  background-image: url(/assets/sessions/liji_zhuce.png);
  display: block;
}

.go-reg:hover {
  background-image: url(/assets/sessions/liji_zhuce_1.png);
}

.my-footer {
  background-color: #24201d;
  margin: 0px;
  padding: 18px 0px 0px;
  text-align: center;
  width: 1600px;
  color: #908681;
}

.gray-bar {
  background-color: #5d4f46;
  width: 1600px;
  height: 35px;
}
/***register***/
.reg-frame{
  background-image: url(/assets/sessions/zhucekuang.png);
  width: 582px;
  height: 624px;
}

.reg-image{
  line-height: 80px;
  text-align: center;
}

.reg-btn{
  width: 358px;
  height: 42px;
  background-image: url(/assets/sessions/zhuce.png);
  border: none;
  border-radius: 0px;
}

.reg-btn:hover{
  background-image: url(/assets/sessions/zhuce_1.png);
}

.go-login{
  width: 125px;
  height: 42px;
  background-image: url(/assets/sessions/liji_denglu.png);
  display: block;
}

.go-login:hover {
  background-image: url(/assets/sessions/liji_denglu_1.png);
}

.reg-tip {
  font-size: 12px;
  line-height: 20px;
}

.reg-frame .form-control {
  height: 53px;
}

.reg-frame .control-label {
  line-height: 45px;
}
/*********************************************************/
.margin-top-200{
  margin-top: 200px;
}

.margin-top-120{
  margin-top: 120px;
}

.margin-top-75{
  margin-top: 75px;
}

.margin-top-40{
  margin-top: 40px;
}

.margin-top-30{
  margin-top: 30px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-14{
  margin-top: 14px;
}

.margin-top-8{
  margin-top: 8px;
}

.margin-top-5{
  margin-top: 5px;
}

.margin-left-68{
  margin-left: 68px;
}

.margin-left-20{
  margin-left: 20px;
}

.margin-left-28{
  margin-left: 28px;
}

.no-vertical-margin{
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-padding-left{
  padding-left: 0px;
}

.padding-right-26 {padding-right: 26px;}

.font-blue{
  font-size: 20px;
  color: #025eb5;
  font-weight: bold;
  line-height: 42px;
}

.font-20 {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.font-12 {
  font-size: 12px;
}

.light-green {
 color: #bdeb16;
}

.light-blue {
  color:#cbc3fe;
}


</style>

  </head>

  <body style="">

  <%= render('share/web_top_nav') %>

    <!-- (Freda  -->
    <!-- <div class="row" style="background-image:url(images/denglu_beijing.jpg); padding: 50px 0px;"> -->
      <!-- <div class="col-lg-4 col-lg-offset-4"> -->
      <!-- <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">登录101FUN</h3>
          </div>
          <div class="panel-body">
                <div class="alert alert-alert"><a class="close" data-dismiss="alert" href="http://www.101fun.com/account/sign_in#">x</a>帐号或密码错误</div>
                <form accept-charset="UTF-8" action="./蕉点享乐科技_files/蕉点享乐科技.htm" class="simple_form form-horizontal new_user" id="new_user" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+TJmQMJnkH5rYJaAvC6k50CjPvb4oPlggXARDUE3k9c="></div>


                  <div class="form-group">
                    <label for="inputEmail1" class="col-sm-3 control-label">* 平台帐号</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="inputEmail1" placeholder="平台帐号" name="user[login]">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail2" class="col-sm-3 control-label">* 密码</label>
                    <div class="col-sm-7">
                      <input type="password" class="form-control" id="inputEmail2" placeholder="密码" name="user[password]">
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="submit" value="登录" class="btn btn-danger" style="width:70%; margin-left:10%;">
                  </div>

                  <hr>
                  <div class="form-group">
                    <span style="margin-left: 50%;">还没有通行证？<a class="btn btn-info" href="http://www.101fun.com/account/sign_up">立即注册</a></span>
                  </div>

</form>          </div>
        </div> -->
    <div class="row login-bg">
      <div class="col-lg-4 col-lg-offset-7 login-frame margin-top-200">
        <div class="title-image">
          <img src="/assets/sessions/dengluzi.png">
        </div>
        <!--
        <form accept-charset="UTF-8" action="./蕉点享乐科技_files/蕉点享乐科技.htm" class="form-horizontal new_user" id="new_user" method="post" novalidate="novalidate" role="form">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="+TJmQMJnkH5rYJaAvC6k50CjPvb4oPlggXARDUE3k9c=">
          </div>
        -->
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="row margin-top-40">
            <div class="form-group">
              <label for="inputEmail1" class="col-sm-4 control-label font-20"> 平台帐号</label>
              <div class="col-sm-7 no-padding-left padding-right-26">
                <input type="text" class="form-control" id="inputEmail1" placeholder="平台帐号" name="user[login]">
              </div>
            </div>
          </div>
          <div class="row margin-top-8">
            <div class="form-group">
              <label for="inputEmail2" class="col-sm-4 control-label font-20">密码　　</label>
              <div class="col-sm-7 no-padding-left padding-right-26">
                <input type="password" class="form-control" id="inputEmail2" placeholder="密码" name="user[password]">
              </div>
            </div>
          </div>
          
          <div class="row margin-top-75">
            <div class="form-group">
              <div class="col-sm-10 margin-left-20">
                <input type="submit" value="" class="btn login-btn">
              </div>
            </div> 
          </div>      

          <div class="row margin-top-14">
            <div class="form-group">
              <div class="col-sm-5 margin-left-68">
                <span class="font-blue">
                没有平台账号？
                </span>
              </div>
              
              <div class="col-sm-3">
                <a class="go-reg" href="/account/sign_up"></a>
              </div>
            </div> 
          </div>
        <% end %>
        <!-- </form> -->
      </div>

    </div>
    <!-- Freda)   -->

  <!-- (Freda -->
  <!-- <div class="container col-lg-8 col-lg-offset-2">
    <hr>
    <footer style="text-align: center;">
      <div class="row">
        关于我们 &nbsp;&nbsp;法律声明&nbsp;&nbsp; 友情链接
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>蕉点享乐信息技术（成都）有限公司</p>
          <p>蜀ICP备14006662号</p>
        </div>
      </div>
    </footer>
  </div> -->

  <footer class="my-footer">
    <p class="font-12 light-green">
    蕉点享乐信息技术（成都）有限公司
    </p>
    <p class="font-12 light-blue">蜀ICP备14006662号</p>
    <p class="font-12">
      抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活。
    </p>
    <div class="gray-bar">
      &nbsp;
    </div>
  </footer>
  <!-- /.container -->
  <!-- Freda) -->










</body>

    <script type="text/javascript">
      $(function(){
        $("#new_user").validate({
          rules: {
            'user[login]': {
              required: true,
              minlength: 2
            },
            'user[password]': {
              required: true,
              minlength: 6
            }
          },
          messages: {
            'user[login]': {
              required: "请输入用户名",
              minlength: "用户名不能小于2个字符"
            },
            'user[password]': {
              required: "请输入密码",
              minlength: "密码不能小于6个字符"
            }
          }
        });
      });
    </script>

</html>