<div class="content">
    <div class="box">
    <%= form_tag(sessions_path) do |f| %>
      Account:
      <%= text_field_tag :account %>
      Password:
      <%= password_field_tag :password %>
      <%= submit_tag %>
    <% end %>
    <%= link_to 'Regeister', new_user_path %>
  </div>
</div>
