<% if false %>
<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>宣战大贴</h2>
        <ul>
          <% Bbs::Node.where(:name => '宣战').first.topics.each do |topic| %>
            <li>
            <%= link_to topic.title, bbs_topic_path(topic), :target => '_blank' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>战况热播</h2>
        <ul>
          <% Bbs::Node.where(:name => '战况').first.topics.each do |topic| %>
            <li>
              <%= link_to topic.title, bbs_topic_path(topic), :target => '_blank' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->


<div class="row">
  <div class="servertime_container_head">
    <h3 style="float:left;">
      <%= link_to'战火燃烧', bbs_node_topics_path('2'), :target => '_blank' %>
    </h3>
    <h4 style="float:right;">
      <%= link_to'更多', bbs_node_topics_path('2'), :target => '_blank' %>
    </h4>
  </div>

  <div>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(League::League.first.logo_url) %>
        挑战
        <%= image_tag(League::League.last.logo_url) %>
        &nbsp;&nbsp;&nbsp;
        来打一架吧！
        &nbsp;&nbsp;&nbsp;
        <small style="color: red;">13:40</small>
      </div>
      <div class="col-md-6">
        <%= image_tag(League::League.first.logo_url) %>
        挑战
        <%= image_tag(League::League.last.logo_url) %>
        &nbsp;&nbsp;&nbsp;
        来打一架吧！
        &nbsp;&nbsp;&nbsp;
        <small style="color: red;">13:40</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(League::League.first.logo_url) %>
        挑战
        <%= image_tag(League::League.last.logo_url) %>
        &nbsp;&nbsp;&nbsp;
        来打一架吧！
        &nbsp;&nbsp;&nbsp;
        <small style="color: red;">13:40</small>
      </div>
      <div class="col-md-6">
        <%= image_tag(League::League.first.logo_url) %>
        挑战
        <%= image_tag(League::League.last.logo_url) %>
        &nbsp;&nbsp;&nbsp;
        来打一架吧！
        &nbsp;&nbsp;&nbsp;
        <small style="color: red;">13:40</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(League::League.first.logo_url) %>
        挑战
        <%= image_tag(League::League.last.logo_url) %>
        &nbsp;&nbsp;&nbsp;
        来打一架吧！
        &nbsp;&nbsp;&nbsp;
        <small style="color: red;">13:40</small>
      </div>
      <div class="col-md-6">
        <%= image_tag(League::League.first.logo_url) %>
        挑战
        <%= image_tag(League::League.last.logo_url) %>
        &nbsp;&nbsp;&nbsp;
        来打一架吧！
        &nbsp;&nbsp;&nbsp;
        <small style="color: red;">13:40</small>
      </div>
    </div>    
    <% if false %>
    <br/>
    <% Bbs::Node.where(:name => '宣战').first.topics.each do |topic| %>
      <div>
        <%= image_tag(League::League.first.logo_url) %>
      </div>
    <% end %>
    <ul>
      <% Bbs::Node.where(:name => '宣战').first.topics.each do |topic| %>
        <li>
        <%= link_to topic.title, bbs_topic_path(topic), :target => '_blank' %>
        </li>
      <% end %>
    </ul>    
    <% end %>
  </div>
</div><!-- /.row -->
<% end %>



<div class="panel panel-default">
  <div class="panel-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="panel-title">
            <%= link_to'战火燃烧', bbs_node_topics_path('4'), :target => '_blank' %>
          </h3>
        </div>
        <div class="col-md-2 col-md-offset-7">
          <h3 class="panel-title">
            <%= link_to'更多', bbs_node_topics_path('4'), :target => '_blank' %>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container">

      <div class="row">
        <% League::ProclaimWar.desc(:created_at).limit(6).each do |proclaimWar| %>
        <div class="col-md-6">
          <%= image_tag(proclaimWar.challenger.logo_url) %>
          挑战
          <%= image_tag(proclaimWar.defender.logo_url) %>
          &nbsp;&nbsp;&nbsp;
          来打一架吧！
          &nbsp;&nbsp;&nbsp;
          
        </div>
        <% end %>
      </div>  

    </div>
  </div>
</div>