<%= simple_form_for([:cpanel, @picture]) do |f| %>
  <%= render "shared/error_messages", :target => @picture %>
  <fieldset>
    <legend>Article页面编辑</legend>
    <%= f.input :title, :input_html => { :class => "xxlarge" } %>
    <% input_options = { :class => 'xxlarge'} %>
    <% input_options.merge { :disabled => 'disabled'} if @picture.present? %>
    <%= f.input :index, :input_html => input_options %>
    <%= f.input :desc, :input_html => { :class => "xxlarge" } %>

	<p>
	  <label>前面图</label>
		<%= f.file_field :f_image %>
    <%= f.hidden_field :f_image_cache %>
	</p>

  <p>
    <label>后面图</label>
    <%= f.file_field :b_image %>
    <%= f.hidden_field :b_image_cache %>
  </p>

    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
    </div>
<% end %>
