<style type="text/css">
  .league-logo-img {
    max-width: 120px;
    max-height: 120px;
  }
</style>


<br/>
<%= render('ads/ad_hf_01') %>
<br/>
<!-- Nav tabs -->
<% if current_user && current_user.league %>
  <div class="row">
    <%= link_to '向他们宣战！', proclaim_war_league_league_path(@league), :remote => true, :class => 'btn btn-danger', :style => 'margin-left: 70%;' if ((@league != current_user.league) && (current_user.league.president_id == current_user.id)) %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <ul id="leagueTab" class="nav nav-stacked nav-pills">
      <li><a href="#info" data-toggle="tab">基本信息</a></li>
      <li><a href="#messages" data-toggle="tab">成员</a></li>
    </ul>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="info">
        <% if league = @league %>
          <div>
            <%= image_tag(league.logo_url, :class => 'league-logo-img') %>
            <%= link_to league.name, league_league_path(league) %><br/>
            工会等级：<%= league.level %><br/>
            工会帮主：<%= link_to league.president_name, user_path(league.president) %><br>
            工会副帮主：<%= link_to league.president_name, user_path(league.president) %><br>
            帮众数量：<%= league.members_count %><br/>
            工会宣言：<%= league.declaration %>
          </div>
        <% else %>
          还没有加入任何工会的自由人！
        <% end %>
      </div>
      <div class="tab-pane" id="messages">
        <ul>
          <% @league.members.each do |member| %>
            <li>
              <%= link_to member.user.name, user_path(member.user) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#leagueTab').tab();
    });
  </script>
<% end %>