
  	<div class="container bg-img">
  		<div class="center-block">
  			<div class="row margin-top-25 margin-left-5">
  				<div class="col-lg-9">
	  				<%= image_tag('games/gcld/biaoti.png') %>
  				</div>

  				<div class="col-lg-3">
  					<div class="row">
  						<span data-role="auction-left-times" class="font-16-yellow">竞拍倒计时：<%= @left_times %></span>
  					</div>
  					<div class="row">
  						<span class="font-16-yellow">服务器：群雄逐鹿</span>
  					</div>
  				</div>
  				
  				<!-- row 1 -->
  				<div class="row margin-left-50 margin-top-55 text-center">
  					<% @castellans[0...6].each do |castellan| %>

	  					<div class="col-lg-2 person-bg-img margin-left-10" data-role="auction-container" data-id="<%= castellan.id %>" data-name="<%= castellan.name %>" data-wuli="<%= castellan.wu_li %>" data-zhili="<%= castellan.zhi_li %>" data-tongshuai="<%= castellan.tong_shuai %>" data-zhengzhi="<%= castellan.zheng_zhi %>">
	  						<div class="row margin-top-15">
	  							<a class="head-img-a" href="javascript:void(0);" data-id="<%= castellan.id %>" data-role="castellan-avatar">
	  								<%= image_tag('games/gcld/touxiang.png') %>
	  							</a>
	  						</div>
	  						<% if castellan.user_castellan %>
	  						<div class="row">
	  							<span class="font-12-yellow" data-role="auction-user">竞拍者：<%= castellan.user_castellan.user.name %></span>
	  						</div>
	  						<% else %>
	  						<div class="row">
	  							<span class="font-12-yellow">&nbsp;</span>
	  						</div>

	  						<% end %>
	  						<div class="row">
	  							<span class="font-14-white" data-role="castellan-price">金币：<%= castellan.price %></span>
	  						</div>
	  						<div class="row" data-buy-status="0">
  	  						<% if castellan.user_castellan && castellan.user_castellan.user_id == current_user.id %>
  	  							<a class="jpbtn-got"></a>
  	  						<% else %>
  	  							<a class="jpbtn" href="javascript:void(0);" value="竞拍" data-role="auction-btn" data-id="<%= castellan.id %>" data-price="<%= castellan.price %>" data-name="<%= castellan.name %>">
  	  							</a>
  	  						<% end %>
	  						</div>
	  					</div>
  					<% end %>
  				</div>

  				<!-- row 2 -->
  				<div class="row margin-left-50 text-center" style="height: 170px;">
  					<% @castellans[6...12].each do |castellan| %>
	  					<div class="col-lg-2 person-bg-img margin-left-10" data-role="auction-container" data-id="<%= castellan.id %>" data-name="<%= castellan.name %>" data-wuli="<%= castellan.wu_li %>" data-zhili="<%= castellan.zhi_li %>" data-tongshuai="<%= castellan.tong_shuai %>" data-zhengzhi="<%= castellan.zheng_zhi %>">
	  						<div class="row margin-top-15">
	  							<a class="head-img-a" href="javascript:void(0);" data-id="<%= castellan.id %>" data-role="castellan-avatar">
	  								<%= image_tag('games/gcld/touxiang.png') %>
	  							</a>
	  						</div>
	  						<% if castellan.user_castellan %>
	  						<div class="row">
	  							<span class="font-12-yellow" data-role="auction-user">竞拍者：<%= castellan.user_castellan.user.name %></span>
	  						</div>
	  						<% else %>
	  						<div class="row">
	  							<span class="font-12-yellow">&nbsp;</span>
	  						</div>

	  						<% end %>
	  						<div class="row">
	  							<span class="font-14-white">金币：<%= castellan.price %></span>
	  						</div>
	  						<div class="row">
	  						<% if castellan.user_castellan && castellan.user_castellan.user_id == current_user.id %>
	  							<a class="jpbtn-got"></a>
	  						<% else %>
	  							<a class="jpbtn" href="javascript:void(0);" value="竞拍" data-role="auction-btn" data-id="<%= castellan.id %>" data-price="<%= castellan.price %>">
	  							</a>
	  						<% end %>
	  						</div>
	  					</div>
  					<% end %>
  				</div>
          <!-- page -->
          <div class="row margin-top-6">
            <div class="col-lg-1 col-lg-offset-8">
              <span class="font-16-yellow margin-left-25"><%= @page %>/2</span>
            </div>
            <div class="col-lg-1">
              <a class="prev_page" href="/games/gcld/auction/auction_princes_index?page=<%= @page -1 %>"></a>
            </div>
            <div class="col-lg-1">
              <a class="next_page" href="/games/gcld/auction/auction_princes_index?page=<%= @page +1 %>"></a>
            </div>
            
          </div>
  				<%#= will_paginate @castellans %>
  			</div>
  		</div>
  	</div>


<script>
	$(function(){
		var money = gon.user_money;

		function info_text(id){
			var castellan = gon.castellans_info[id];
			str = '<div class="property-div padding-top-10 padding-left-20">'
			+'<p>'+'<span class="font-14-yellow">主公：'+castellan.name+'</span>  '+'</p>'+'<p>'+'<span class="font-14-yellow">势力：猪猪</span>'+'</p>'+'<p>'+'<span class="font-14-yellow">都城：猪猪</span>  '+'</p>'+'<p>'+'<span class="font-14-yellow">统帅：'+castellan.tong_shuai+'</span>  '+'</p>'+'<p>'+'<span class="font-14-yellow">武力：'+castellan.wu_li+'</span>'+'</p>'+'<p>'+'<span class="font-14-yellow">智力：'+castellan.zhi_li+'</span>  '+'</p>'+'<p>'+'<span class="font-14-yellow">政治：'+castellan.zheng_zhi+'</span>  '+'</p>'+'<p>'+'<span class="font-14-yellow">疆域:</span>'+'</p>'+'<div class="area">'+'<img src="/assets/games/gcld/shili/area_1.png">'+'</div>'+'</div>';
			return str;

		}

		$('[data-role=castellan-avatar]').each(function(){
			var _id = $(this).attr('data-id');
			$(this).popover({
				html : true,
				trigger : 'hover',
				content : info_text(_id)
			});
		});

		$('[data-role=auction-btn]').click(function(){
			var btn = $(this);
			if(btn.attr('disabled') == 'disabled'){
				return false;
			}
			if(money < parseInt(btn.attr('data-price'))){
				bootbox.alert('您的金币不够，请先赚取金币！');
				return false;
			}


			bootbox.dialog({
			  message: "是否话费500金币购买"+btn.attr('data-name')+"？",
			  title: "",
			  buttons: {
			  	cancel: {
			      label: " ",
			      className: "cancel-btn",
			      callback: function() {
			        // Example.show("great success");
			      }
			    },
			    success: {
			      label: " ",
			      className: "srue-btn",
			      callback: function() {
							btn.removeClass('jpbtn').addClass('jpbtn-got');
							btn.attr('disabled', 'disabled');
							var data = {castellan_id : btn.attr('data-id'), price : btn.attr('data-price')};
							$.post('<%= games_gcld_auction_auction_prince_path %>', data, function(data){
								var html_temp = "[data-role=auction-container][data-id="+btn.attr('data-id')+"]";
								var name_dom = $(html_temp).find('[data-role=auction-user]');
								$(name_dom).text('竞拍者：'+data['user_name']);
							});
			      }
			    }
			    
			  }
			});



			// var confirm_html = "<div>ok</div>";


			// bootbox.confirm(confirm_html, function(){
			// 	btn.removeClass('jpbtn').addClass('jpbtn-got');
			// 	btn.attr('disabled', 'disabled');
			// 	var data = {castellan_id : btn.attr('data-id'), price : btn.attr('data-price')};
			// 	$.post('<%= games_gcld_auction_auction_prince_path %>', data, function(data){
			// 		var html_temp = "[data-role=auction-container][data-id="+btn.attr('data-id')+"]";
			// 		var name_dom = $(html_temp).find('[data-role=auction-user]');
			// 		$(name_dom).text('竞拍者：'+data['user_name']);
			// 	});
			// });
			return false;
		});

	});
</script>