<%= render('ads/ad_hf_01') %>

<!-- Nav tabs -->
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <ul id="leagueTab" class="nav nav-stacked nav-pills">
      <li><a href="#info" data-toggle="tab">基本信息</a></li>
      <li><a href="#update" data-toggle="tab">资料修改</a></li>
      <li><a href="#messages" data-toggle="tab">我的徽章</a></li>
    </ul>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="info">
        <%= image_tag(current_user.avatar_url) %>
        <%= current_user.login %>
      </div>
      <div class="tab-pane" id="update">
        <%= form_for(current_user) do |form| %>
        
        <% end %>
      </div>
      <div class="tab-pane" id="messages">
        已装备徽章
        <div>
          <% current_user.badge_winners.wore.each do |badge_winner| %>
            <%= image_tag(badge_winner.badge.photo_url, :width => 50, :height => 50) %>
          <% end %>
        </div>
        <br/>
        所有徽章
        <div>
          <% current_user.badge_winners.each do |badge_winner| %>
            <%= image_tag(badge_winner.badge.photo_url, :width => 50, :height => 50) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#leagueTab').tab();
    });
  </script>
<% end %>