<style type="text/css">
  .league_container_head {
    height: 40px;
    background-color: green;
  }
  .servertime_container_head {
    height: 40px;
    background-color: grey;
  }
  .servertime_item_name {
    color: red;
  }
  .servertime_start_game {
    width: 100px;
    height: 30px;
    background-color: red;
  }
  .guessball_team {
    height: 35px;
    background-color: green;
  }
</style>

<%= render('ads/ad_hf_01') %>
<div class="section">
  <div class="row">
    <%= render('articles_list') %>
    <div class="col-lg-5">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="init_data/images/ads_1/001.png" />
            </div>
            <div class="item">
              <img src="init_data/images/ads_1/002.png" />
            </div>
            <div class="item">
              <img src="init_data/images/ads_1/003.png"/>
            </div>                                    
          </div>
        </div>
    </div>

    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #50b0c1; color: #ffffff; font-size: 16px;">
          <div class="row">
            <h3 class="panel-title col-md-7">
              <%= link_to '社区', articles_path %>
            </h3>
            <h5 class="panel-title col-md-5">
              <%= link_to '更多', articles_path %>
            </h5>
          </div>   
        </div>  
        <div class="panel-body" style="font-size: 12px;">
          <ul style="margin: 0px; padding: 0px;">
          <% ::Bbs::Topic.where(:node_id.in => [1,3]).excellent.limit(7).each do |topic| %>
            <%= render('bbs/share/topic_item', :topic => topic) %>
          <% end %>
          </ul>
        </div>
      </div> 
    </div>

  </div><!-- /.row -->
</div><!-- /.section -->
<%= render('ads/ad_hf_01') %>
<div class="section">
    <div class="row">
      
      <div class="col-lg-9">
        <div class="row league_container_head">
          <div style="float: left; margin-top: 10px;">工会</div>

          <div style="float: right;">
            <form action="<%= search_league_leagues_path %>" class="navbar-form navbar-left" role="search" method="get">
              <div class="form-group">
                <input name="keyword" type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">搜索</button>
              <%= link_to '所有工会', league_leagues_path %>
            </form>
          </div>
        </div>
        <div class="row">
          <% @leagues.each do |league| %>
            <%= render('league/share/item', :league => league) %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-3">
        <%= render('sgames/guess_ball') %>
      </div>
    </div><!-- /.row -->
</div><!-- /.section -->
<%= render('ads/ad_hf_01') %>

<%= render('sgames/sys_game') %>

<%= render('ads/ad_hf_01') %>

<div class="row">
  <div class="col-md-10">
    <%= render('servertimes/servertimes') %>  
  </div>

  <div class="col-md-2">
    <%= render('score/score_list') %>    
  </div>
</div>

<%#= render('servertimes/servertimes') %>

<%#= render('ads/ad_hf_01') %>

<%#= render('score/score_list') %>

<%= render('ads/ad_hf_01') %>


<div class="row">
  <div class="col-md-9">
    <%= render('share/declaration_fighting') %>
  </div>

  <div class="col-md-3">
    <%= render('share/fighting_live') %> 
  </div>
</div>

<%#= render('share/declaration_fighting') %>

<%= render('ads/ad_hf_01') %>

<%= render('share/pictrue_wall') %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#carousel-example-generic').carousel()
    });
  </script>
<% end %>