<%= render('ads/ad_hf_01') %>
<div class="section">
  <div class="row">
    <div class="col-lg-4 col-md-4">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="init_data/images/ads_1/001.png" />
            </div>
            <div class="item">
              <img src="init_data/images/ads_1/002.png" />
            </div>
            <div class="item">
              <img src="init_data/images/ads_1/003.png"/>
            </div>                                    
          </div>
        </div>
    </div>
    <%= render('articles_list') %>
    <div class="col-lg-4 col-md-4">
      <ul>
      <% ::Bbs::Topic.where(:node_id.in => [1,3]).excellent.limit(10).each do |topic| %>
        <%= render('bbs/share/topic_item', :topic => topic) %>
      <% end %>
      </ul>
    </div>
  </div><!-- /.row -->
</div><!-- /.section -->
<%= render('ads/ad_hf_01') %>
<div class="section">
    <div class="row">
      <div class="col-lg-4">
        <%= render('sgames/guess_ball') %>
      </div>
      <div class="col-lg-8 text-center">

      <% @leagues.each do |league| %>
        <%= render('league/share/item', :league => league) %>
      <% end %>
      </div>
    </div><!-- /.row -->
</div><!-- /.section -->
<%= render('ads/ad_hf_01') %>

<%= render('sgames/sys_game') %>

<%= render('ads/ad_hf_01') %>

<%= render('servertimes/servertimes') %>

<%= render('score/score_list') %>

<%= render('ads/ad_hf_01') %>

<%= render('share/declaration_fighting') %>

<%= render('ads/ad_hf_01') %>

<%= render('share/pictrue_wall') %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#carousel-example-generic').carousel()
    });
  </script>
<% end %>