<!-- User Basic Info -->
<div>
	Nickname: <%= @current_user.nickname %>
	Level: <%= @current_user.level %>
	Experience: <%= @current_user.experience %>
	Gold: <%= @current_user.gold %>
	Diamond: <%= @current_user.diamond %>
	Vitality: <%= @current_user.vitality %>
</div>

<hr/>

<div>
	My Heros==========<br/>
	<% @current_user.heros.each do |hero| %>
		Name: <%= hero.name %>
		Hp: <%= hero.hp %>
		Mp: <%= hero.mp %>
		Attack: <%= hero.atk %>
		Level: <%= hero.level %>
		Star_level: <%= hero.star_level %>
		Experience: <%= hero.experience %>

		<%= form_tag(user_user_hero_level_upgrade_path(@current_user, hero)) do |f| %>

			<%= select_tag 'eated_hero_ids[]', options_from_collection_for_select(@current_user.heros.select {|_hero| hero != _hero}, "id", "show_name"), { include_blank: true } %>
			<%= select_tag 'eated_hero_ids[]', options_from_collection_for_select(@current_user.heros.select {|_hero| hero != _hero}, "id", "show_name"), { include_blank: true } %>
			<%= select_tag 'eated_hero_ids[]', options_from_collection_for_select(@current_user.heros.select {|_hero| hero != _hero}, "id", "show_name"), { include_blank: true } %>
			<%= select_tag 'eated_hero_ids[]', options_from_collection_for_select(@current_user.heros.select {|_hero| hero != _hero}, "id", "show_name"), { include_blank: true } %>

			<%= submit_tag '升级' %>

		<% end %>

		<p>
			<% hero._star_upgrade_heros.each do |_hero| %>
					<%= _hero.show_name %>

					[<%= @current_user.heros.where(:sys_hero_id => _hero.id).count %>]
			<% end %>			

			<%= link_to '升星级', user_user_hero_star_upgrade_path(@current_user, hero), :method => :put %>
		</p>
		<% if false %>
		<% end %>
		<%= link_to '选上他', user_user_hero_take_path(@current_user, hero), :method => :put unless hero.selected %>
		<%= link_to '丢下他', user_user_hero_takeoff_path(@current_user, hero), :method => :put if hero.selected %>
	<% end %>
</div>

<hr/>
<div>
	<% SysHero.where(:level => 1, :star_level => 1).each do |hero| %>
	<p>
		Name: <%= hero.name %>
		Hp: <%= hero.hp %>
		Mp: <%= hero.mp %>
		Atk: <%= hero.atk %>
		Price: <%= hero.price %>

		<%= form_tag(user_user_heros_path(@current_user)) do |f| %>
			<%= hidden_field_tag :id, hero.id %>
			<%= submit_tag '购买' %>
		<% end %>
	</p>
	<% end %>
</div>

<hr/>
<div>
	<% SysGameLevel.top.each do |game_level| %>
	<p>
		<%= game_level.name %>==========<br/>
		<% game_level.children.each do |level| %>
			<%= level.name %>
			<%= link_to '开战', new_battle_path(:level_id => level) %>
		<% end %>
	</p>
	<% end %>
</div>

<hr/>
<div>
	<% @current_user.game_levels.each do |game_level| %>
		<%= game_level.name %>
		(<%= game_level.stars %>)
		&nbsp;&nbsp;
	<% end %>
</div>