<!-- User Basic Info -->
<div>
	<%= @current_user.nickname %>
	<%= @current_user.level %>
	<%= @current_user.experience %>
	<%= @current_user.gold %>
	<%= @current_user.diamond %>
	<%= @current_user.vitality %>
</div>

<hr/>

<div>
	<% @current_user.heros.each do |hero| %>
		<%= hero.name %>
		<%= hero.hp %>
		<%= hero.mp %>
		<%= hero.atk %>

		<%= button_to '升级', user_user_hero_level_upgrade_path(@current_user, hero), :method => :put %>
		<%= button_to '转星升级', user_user_hero_star_upgrade_path(@current_user, hero), :method => :put %>
		<%= link_to '选上他', user_user_hero_take_path(@current_user, hero), :method => :put unless hero.selected %>
		<%= link_to '丢下他', user_user_hero_takeoff_path(@current_user, hero), :method => :put if hero.selected %>
	<% end %>
</div>

<hr/>
<div>
	<% SysHero.all.each do |hero| %>
	<p>
		<%= hero.name %>
		<%= hero.hp %>
		<%= hero.mp %>
		<%= hero.atk %>
		<%= hero.price %>

		<%= form_tag(user_user_heros_path(@current_user)) do |f| %>
			<%= hidden_field_tag :id, hero.id %>
			<%= submit_tag '购买' %>
		<% end %>
	</p>
	<% end %>
</div>

<hr/>
<div>
	<% SysGameLevel.top.each do |game_level| %>
	<p>
		<%= game_level.name %>==========<br/>
		<% game_level.children.each do |level| %>
			<%= level.name %>
			<%= link_to '开战', new_battle_path(:level_id => level) %>
		<% end %>
	</p>
	<% end %>
</div>

<hr/>
<div>
	<% @current_user.game_levels.each do |game_level| %>
		<%= game_level.name %>
		<%= game_level.stars %>
	<% end %>
</div>