    <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2>
              巨大的横幅广告！
            </h2>
            <p>
            A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
            </p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->


    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="uploads/image/201312/001.png" />
                  </div>
                  <div class="item">
                    <img src="uploads/image/201312/002.png" />
                  </div>
                  <div class="item">
                    <img src="uploads/image/201312/003.png"/>
                  </div>                                    
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= link_to '业界资讯', articles_path %>
              </h3>
            </div>
            <div class="panel-body">
              <% article = @articles.shift %>
              <strong>
                <%= link_to article.title, article_path(article) if article %>
              </strong>
            </div>
            <ul class="list-group">
              <% @articles.each do |article| %>
                <li class="list-group-item">
                  <%= link_to article.title, article_path(article) %>  
                </li>
              <% end %>
            </ul>
          </div> 
          </div>
          <div class="col-lg-4 col-md-4">
            <p>
            <% ::Bbs::Topic.excellent.limit(6).each do |topic| %>
              <li>
                [<%= link_to topic.node_name, bbs_node_topics_path(topic.node_id), :target => '_blank' %>]
                <%= link_to topic.title, bbs_topic_path(topic), :target => '_blank' %>
              </li>
            <% end %>
            </p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2>
              巨大的横幅广告！
            </h2>
            <p>
            A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
            </p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <img src="uploads/image/201312/dm.gif" />
          </div>
          <div class="col-lg-8 text-center">

          <% @leagues.each do |league| %>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div>
              <span>
                <strong><%= league.name %></strong>
                <img src="<%= league.logo_url %>" width="60" height="60" class="img-circle" />
                <%= button_to '加入工会', ask_for_join_league_league_path(league), :method => :put, :remote => true if current_user && current_user.can_join_league?(league) %>
                &nbsp;
                <br/>
                <span>帮主：<%= league.president_name %></span>
              </span>
              <p>
                等级：<span><%= league.level %></span>
                人数：<span><%= league.members_count %></span>
              </p>
              <p>
                宣言： &nbsp;<%= league.declaration %>
              </p>
            </div>
          </div>
          <% end %>
          <% (6-@leagues.count).times do %>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" src="http://localhost:3000/uploads/image/201312/700_450.gif"></a>
          </div>
          <% end %>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->


    <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2>
              巨大的横幅广告！
            </h2>
            <p>
            A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
            </p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="section-colored">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>自主研发的第一款游戏推荐</h2>
            <ul>
              <li>Bootstrap 3 Framework</li>
              <li>Mobile Responsive Design</li>
              <li>Predefined File Paths</li>
              <li>Working PHP Contact Page</li>
              <li>Minimal Custom CSS Styles</li>
              <li>Unstyled: Add Your Own Style and Content!</li>
              <li>Font-Awesome fonts come pre-installed!</li>
              <li>100% <strong>Free</strong> to Use</li>
              <li>Open Source: Use for any project, private or commercial!</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" src="http://localhost:3000/uploads/image/201312/w700b.gif">
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" src="http://localhost:3000/uploads/image/201312/b700b.gif">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>自主研发的第二款游戏推荐</h2>
            <ul>
              <li>Bootstrap 3 Framework</li>
              <li>Mobile Responsive Design</li>
              <li>Predefined File Paths</li>
              <li>Working PHP Contact Page</li>
              <li>Minimal Custom CSS Styles</li>
              <li>Unstyled: Add Your Own Style and Content!</li>
              <li>Font-Awesome fonts come pre-installed!</li>
              <li>100% <strong>Free</strong> to Use</li>
              <li>Open Source: Use for any project, private or commercial!</li>
            </ul>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#carousel-example-generic').carousel()
    });
  </script>
<% end %>