<%= simple_form_for([:admin, @sys_hero]) do |f| %>
  <%= render 'shared/error_messages', :target => @sys_hero %>
  <fieldset>
    <legend></legend>
    <%= f.input :name %>
    <%= f.input :hp %>
    <%= f.input :mp %>
    <%= f.input :atk %>
    <%= f.input :talent %>
    <div class="form-actions">
      <%= f.submit %>
      <%= link_to 'Back', admin_sys_heros_path %>
    </div>
  </fieldset>
<% end %>
