<h1>怪物列表</h1>

<table class="table table-bordered table-striped table-condensed">
  <tr class="head">
    <td class="first">ID</td>
    <td>Name</td>
    <td>Hp</td>
    <td>Mp</td>
    <td>Atk</td>
    <td>Talent</td>
    <td></td>
  </tr>

<% @sys_enemys.each do |sys_enemy| %>
  <tr>
    <td class="first"><%= sys_enemy.id %></td>
    <td><%= sys_enemy.name %></td>
    <td><%= sys_enemy.hp %></td>
    <td><%= sys_enemy.mp %></td>
    <td><%= sys_enemy.atk %></td>
    <td><%= sys_enemy.talent %></td>
    <td><%= link_to '', edit_admin_sys_enemy_path(sys_enemy), :class => "icon small_edit" %>
    <%= link_to '', admin_sys_enemy_path(sys_enemy), 'data-confirm' => 'Are you sure?' , :method => :delete, :class => "icon small_delete" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加怪物', new_admin_sys_enemy_path %>
