<% if false %>
<img src="init_data/images/guess_balls/fball.png" />
<br/>
<div class="container">
<%= form_tag(game_guess_path, :remote => true) do |form| %> 
  <input type="hidden" id="game_value" name="game_value"/>
  <% @guess_groups.each_with_index do |group, g_index| %>
    <br/>
    <div class="row">
      <div class="row">
        <% group.each do |team| %>
          <div class="col-md-6">
            <h4><span><%= team %></span></h4>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="radio" name="<%= "group_#{g_index}" %>" value="<%= "#{g_index}-1" %>" >胜
        </div>
        <div class="col-md-4">
          <input type="radio" name="<%= "group_#{g_index}" %>" value="<%= "#{g_index}-2" %>" >负
        </div>
        <div class="col-md-4">
          <input type="radio" name="<%= "group_#{g_index}" %>" value="<%= "#{g_index}-3" %>" >平
        </div>
      </div>
    </div>
    <hr/>
  <% end %>
  <% if current_user && can_guess_ball? %>
    <input id="guess_ball_submit_btn" type="submit" value="试试看咯" class="btn btn-info"></input> 
  <% end %>
<% end %>
</div>

<div class="row">
  <div class="guessball_team_head">
    <h3 style="float:left;">竟彩足球</h3>
  </div>

  <div>
    <img src="init_data/images/guess_balls/fball.png" , width ='220px;'/>
  </div>

  <div>
    <p class="guessball_team">中国队 VS 日本队</p>
    <p style="height: 40px;">
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
    </p>


    <p class="guessball_team">中国队 VS 日本队</p>
    <p style="height: 40px;">
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
    </p>


  </div>
  <div>
    <input type="button" value="下注吧！"/>
  </div>
</div><!-- /.row -->
<% end %>




<div class="row guessball_team_head">
  <h3 style="margin: 0px;">竟彩足球</h3>
</div>

<div class="row">
  <img src="init_data/images/guess_balls/fball.png" , width ='220px;'/>
</div>

<div class="row">
    <p class="guessball_team">中国队 VS 日本队</p>
    <p style="height: 40px;">
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
    </p>  
</div>

<div class="row">
    <p class="guessball_team">中国队 VS 日本队</p>
    <p style="height: 40px;">
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
      <input type="radio" name="group_#{g_index}" value="g_index}-1" >胜</input>
    </p>  
</div>
