<%= form_tag(update_results_cpanel_guess_balls_path, :method => 'post') do |f| %>
<h2>基本信息</h2>
<p>
	竞猜组1:<br/>
	队伍1:<%= GuessBall.last.try(:g1_team1) %><br/>
	队伍2:<%= GuessBall.last.try(:g1_team2) %><br/>

	<select name="g1_result">
		<option value="0">胜</option>		
		<option value="1">平</option>		
		<option value="2">负</option>		
	</select>
</p>
<hr/>
<p>
	竞猜组2:<br/>
	队伍1:<%= GuessBall.last.try(:g2_team1) %><br/>
	队伍2:<%= GuessBall.last.try(:g2_team2) %><br/>
	
	<select name="g2_result">
		<option value="0">胜</option>		
		<option value="1">平</option>		
		<option value="2">负</option>		
	</select>
</p>
<hr/>
	<input type="submit" value="确定" />
<% end %>