<div class="row">
  <h1>广告</h1>
</div>
<div class="row">
  <div class="col-md-3">
    
    <div class="jumbotron">
      <h2>我们的网站宣言</h2>
      <p>
        游戏公会联盟的宗旨：为配合游戏公会的良性发展，促进游戏公会的发展壮大，为游戏内的玩家创建一个更加文明、和谐、健康的网络游戏环境。
      </p>
    </div>    

  </div>
  <div class="col-md-4">
    
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= render "shared/error_messages", :target => resource %>
      <fieldset>
        <legend><%= t("users.register_user")%></legend>
        <%= f.input :login, :hint => t("users.suggest_using_twitter_id") %>
        <%= f.input :name %>
        <% if false %>
        <%= f.input :email, :input_html => { :class => "span5", :placeholder => "foo@bar.com" } %>
        <div class="control-group">
          <div class="controls">
            <label for="user_email_public" class="checkbox"><%= f.check_box :email_public, :checked => true %> 公开 Email</label>
          </div>
        </div>
        <% end %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <div class="form-actions">
          <%= f.submit "提交注册信息", :class => "btn btn-primary", 'data-disable-with' => t("common.submitting") %>
        </div>
      </fieldset>
    <% end %>    

  </div>
  <div class="col-md-3 col-md-offset-2">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>


