<%= render('ads/ad_hf_01') %>

<style type="text/css">
  p.form_field_container {
    width: 100%;
    height: 55px;
    border: 1px solid #dee3e4;
    margin: 10px 0px;
    font-size: 16px;
    padding: 15px 20px;
  }

  p.form_field_container label{
    width: 130px;
  }

  #new_user label.error{
    color: red;
    font-size: 12px;
  }


  .form_submit_btn {
    margin-left: 30%;
    width: 200px;
    color: #ffffff;
  }

  .session_login_left {
    padding-top: 220px;
  }

  p.form_field_container input {
    width: 200px;
  }
</style>

<div class="row">

  <div class="col-lg-8">



    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">注册101FUN帐号</h3>
      </div>
      <div class="panel-body">

        <% if true %>
        <%= notice_message %>
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => "form-horizontal") do |f| %>
          <%= render "shared/error_messages", :target => resource %>

          <div class="form-group">
            <label for="inputEmail1" class="col-sm-3 control-label">* 平台帐号</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputEmail1" placeholder="平台帐号" name="user[login]">
            </div>
          </div>

          <p style="color: #000; font-size: 12px; margin-left: 200px;">谨慎填写，以后不可修改，建议用 Twitter ID。</p>


          <div class="form-group">
            <label for="inputEmail2" class="col-sm-3 control-label">* 平台昵称</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputEmail2" placeholder="平台昵称" name="user[name]">
            </div>
          </div>


          <div class="form-group">
            <label for="inputEmail2" class="col-sm-3 control-label">* 密码</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputEmail3" placeholder="密码" name="user[password]">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail4" class="col-sm-3 control-label">* 确认密码</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputEmail4" placeholder="确认密码" name="user[password_confirmation]">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail5" class="col-sm-3 control-label"> 推荐码</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputEmail5" placeholder="推荐码" name="recommendation_code">
            </div>
          </div>

          <p>
            <input type="submit" value="提交注册信息" class="form_submit_btn btn btn-danger"/>
          </p>
        <% end %>    
        <% end %>
      </div>
    </div>


  </div>
  <div class="col-lg-4 session_login_left">
    已有通行证？
    <%= link_to '直接登录', new_user_session_path, :class => 'session_login' %>
    <%#= render :partial => "devise/shared/links" %>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
  $(function(){
    $("#new_user").validate({
      rules: {
        'user[login]': {
          required: true,
          minlength: 5
        },
        'user[password]': {
          required: true,
          minlength: 6
        },
        'user[name]': {
          required: true,
          minlength: 3
        }
      },
      messages: {
        'user[login]': {
          required: "请输入用户名",
          minlength: "用户名不能小于5个字符"
        },
        'user[password]': {
          required: "请输入密码",
          minlength: "密码不能小于5个字符"
        },
        'user[name]': {
          required: "请输入昵称",
          minlength: "密码不能小于5个字符"
        }
      }
    });
  });
</script>
<% end %>