
<%= render('ads/ad_hf_01') %>

<!-- Nav tabs -->
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <ul id="leagueTab" class="nav nav-stacked nav-pills">
      <li><a href="#info" data-toggle="tab">联盟简介</a></li>
      <li><a href="#desc" data-toggle="tab">创建条件</a></li>
      <li><a href="#messages" data-toggle="tab">奖励机制</a></li>
      <% if current_user.try(:league) %>
        <li>
          <a href="#my_league" data-toggle="tab">我的联盟</a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="info">
        我们将通过免费定期为公会做新闻及媒体宣传，建立公会专区，提供免费空间，举办线下活动等方式促进公会的发展及壮大。同时开展同其他各游戏公会、各游戏组织之间的友谊与合作，争取玩家利益最大化，保护弱势群体,支持普通游戏玩家为自身利益的维权行动。联盟也将组织会员广泛开展各种健康有益的活动，互相学习、互相沟通，不断提高联盟内部各会员之间的团结。 
      </div>
      <div class="tab-pane" id="desc">
        公会联盟的原则为：信任、团结、平等、发展、友爱、公正。
      </div>
      <div class="tab-pane" id="messages">
        公会门户，由一群热爱网络游戏和游戏公会的游戏人、行业人和公会人共同建立，是致力于服务公会类网游、游戏公 会和游戏玩家的门户网站。在众多公会玩家及游戏厂商的支持下，拥有众多合作公会，同大量游戏厂商展开广泛合作，努力成为国内最专业 的骨灰玩家聚散地。
      </div>
      <% if current_user.try(:league) %>
      <div class="tab-pane" id="my_league">
        <% if @league.new_record? %>
          网游资讯，大陆资讯、海外资讯、活动资讯、游戏八卦、人物专访、游戏产业
        <% else %>

          <!-- Nav tabs -->
          <ul id="my_league" class="nav nav-tabs">
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <% if @league.president == current_user %>
              <li><a href="#news" data-toggle="tab">消息</a></li>
            <% end %>
            <% if @league.president == current_user %>
              <li><a href="#welfares" data-toggle="tab">福利</a></li>
            <% end %>
            <li><a href="#members" data-toggle="tab">成员</a></li>
            <li><a href="#settings" data-toggle="tab">工会群消息</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane" id="profile">
              <span>工会名：<strong><%= @league.name %></strong></span><br/>
              <span>帮主：<strong><%= @league.president.name %></strong></span><br/>
              <span>等级：<strong><%= @league.level %></strong></span><br/>
              <span>旗帜：<%= image_tag(@league.logo_url) %></span><br/>
              <span>成员数：<strong><%= @league.members_count %></strong></span><br/>
              <span>宣言：<strong><%= @league.declaration %></strong></span>
            </div>
            <% if @league.president == current_user %>
              <div class="tab-pane active" id="news">
                <% @league.members.asking.each do |member| %>
                  <%= member.user.login %> &nbsp;&nbsp;申请加入工会！
                  <%= button_to '同意', agree_join_league_league_path(@league, :member_id => member), :method => :put, :remote => :ture %>
                <% end %>
              </div>
            <% end %>
            <% if @league.president == current_user %>
              <div class="tab-pane active" id="welfares">
                <%= form_tag( welfare_league_league_path(@league), :remote => :true, :class => "form-inline") do |f| %>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">
                      金币福利
                    </label>
                    <input type="text" class="form-control" id="exampleInputEmail2" name="coins" placeholder="输入发放的金币">
                  </div>
                  <button type="submit" class="btn btn-default">确定</button>
                <% end %>
              </div>
            <% end %>
            <div class="tab-pane active" id="members">
              <ul class="nav nav-pills">
                <% @league.members.official.each do |member| %>
                <li class="dropdown">
                  <a id="drop4" role="button" data-toggle="dropdown" href="#">
                    <%= member.user.name %>
                    <% if member.id != current_user.id %>
                      <b class="caret"></b>
                    <% end %>
                  </a>
                  <% if member.id != current_user.id %>
                  <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                    <li role="presentation">
                      <%= link_to '交流', start_message_communications_path(:user_id => member.user_id) %>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                      <%= link_to '设为副会长', league_league_member_set_vice_president_path(@league, member), :remote => true if member.role == 0 %>
                      <%= link_to '取消副会长', league_league_member_canel_vice_president_path(@league, member), :remote => true if member.role == 1 %>
                    </li>
                    <li role="presentation">
                      <%= link_to '设为指挥', league_league_member_set_conductor_path(@league, member), :remote => true if member.role == 0 %>
                      <%= link_to '取消指挥', league_league_member_canel_conductor_path(@league, member, :remote => true) if member.role == 2 %>
                    </li>
                    </li>
                  </ul>
                  <% end %>
                </li>

                <% end %>
              </ul>
            </div>
            <div class="tab-pane" id="settings">
              <%= form_tag(league_league_messages_path(@league), :remote => true) do |form| %>
                <textarea name="content"></textarea>
                <input type="submit" value="send"/>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% unless current_user.try(:league) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <h1>创建你的联盟吧！</h1>
      <p>
      <div >

        <%= simple_form_for(@league) do |f| %>
          <%= render "shared/error_messages", :target => @league %>
          <fieldset>
            
            <label for="name">工会名</label>
            <input type="text" name="league_league[name]" %>

            <br/>

            <label for="declaration">工会宣言</label>
            <textarea name="league_league[declaration]"></textarea>

            <p>
              <label>Logo</label>
              <%= f.file_field :logo %>
              <%= f.hidden_field :logo_cache %>
            </p>
            <div class="form-actions">
              <%= f.submit "创建工会", :class => "btn btn-primary", 'data-disable-with' => t("common.submitting") %>
            </div>
          </fieldset>
        <% end %>

      </div>
      </p>
    </div>
  </div>
</div>
<% end %>


<%= render('share/login_modal') unless current_user %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
    	<% unless current_user %>
	    	$('#loginModal').modal();
    	<% end %>
      $('#leagueTab').tab();
      $('#my_league').tab();
    });
  </script>
<% end %>