<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "front", "data-turbolinks-track" => true %>
  <%= yield :styles %>
  <meta charset='utf-8' />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" />
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "app", "data-turbolinks-track" => true %>
</head>
<body>
  <div class="container">
    <%= notice_message %>
    <div id="main" class="container-fluid">
      <%= yield %>
    </div>
  </div>
  <%= yield :scripts %>
</body>
</html>
