<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>101FUN遊戏平台</title>
    <%#= stylesheet_link_tag "web", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "web", "data-turbolinks-track" => true %>

    <!-- <link href="/assets/bootstrap_v3.css" media="screen" rel="stylesheet" />
    <link href="/assets/modern-business.css" media="screen" rel="stylesheet" />
    <link href="/assets/font-awesome.min.css" media="screen" rel="stylesheet" />
 -->
    <link href="/assets/site.css" media="screen" rel="stylesheet" />
    <%= javascript_include_tag "web", "data-turbolinks-track" => true %>
    <%= csrf_meta_tag %>

    <meta name="keywords" content="101fun 论坛金币" />
    <meta name="description" content＝"用论坛金币玩的页游" />

    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="/assets/ie8.css" />
    <![endif]-->

<!--
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?23b694c87aa8d1e29e90beff93981eb3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
-->

  </head>

  <body>

  <%= render('share/web_top_nav') %>
  <%= render('share/web_spread') if @share_content[:web_spread] %>

  <div class='main-container'>

  <!-- <div class="container col-lg-8 col-lg-offset-2"> -->
  <div class="">
    <%= yield %>
  </div>
</div>
  <!-- <div class="container col-lg-8 col-lg-offset-2"> -->
    <!-- (Freda -->
      <footer class="my-footer">
        <p class="font-12 light-green">
        蕉点享乐信息技术（成都）有限公司
        </p>
        <p class="font-12 light-blue">蜀ICP备14006662号</p>
        <p class="font-12">
          <a href="http://www.101fun.com/about">关于我们</a> 
          &nbsp;|&nbsp;
          <a href="http://www.101fun.com/law">法律声明</a>
          &nbsp;|&nbsp; 
          <a href="#">联系我们</a>
          &nbsp;|&nbsp;
          <a href="#">友情链接</a>
        </p>
        <p class="font-12">
          抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活。
        </p>
        <div class="gray-bar">
          &nbsp;
        </div>
      </footer>
      <!-- /.container -->
      <!-- Freda) -->

<div style="position:fixed;right:0; width: 250px; height:215px; text-align:right; font-size:14px; line-height:22px; color:#000;" id="rb_ad">  
<a href="javascript:close_rbad();" target="_self">关闭</a><br />  
<%= image_tag('/init_data/images/ads/ad_message_01.png') %>
</div>

    <%= yield :scripts %>
    <script type="text/javascript">
        $(function(){
          <% if current_user %>
              $.get('<%= notice_path %>', {}, function(data){
                $('#rewards_count_span').text(data.rewards_count);
                $('#messages_count_span').text(data.messages_count);
              });
          <% end %>
        });

        $('#rb_ad').css('top', document.documentElement.scrollTop+document.documentElement.clientHeight-215)
        function close_rbad(){
          $('#rb_ad').remove();
        } 

    </script>


  </body>
</html>

